<section class="block container block_domain">
  <header class="block__header">
    <h2>Starting Price At $9</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nesciunt
      corrupti et blanditiis nisi voluptatibus ipsum facilis praesentium ad
      nihil.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter Domain Name Here" />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="icons/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain_price">
    <li><span class="badge badge--secondary"> .com $9</span></li>
    <li>.my $5</li>
    <li>.org $7</li>
    <li>.space $8</li>
    <li>.sg $4</li>
    <li>.us $4</li>
  </ul>
</section>
