<section class="block block--dark block--skewed-right block__showcase">
    <header class="block__header">
      <h2>User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
      <picture>
        <source
          type="image/webp"
          srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
        />
        <source
          type="image/webp"
          srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
        />
        <img class="hero_image" src="images/ipad@2x.png" alt="decoration" />
      </picture>
      <ul class="list">
        <li> <div class="media">
          <div class="media__image">
          
             <svg class="icon icon--primary">
               <use xlink:href="icons/sprite.svg#snap">
             </svg>
           
       
          </div>
          <div class="media__body">
            <h3 class="media__title">
              Staging, GIT & WP-CLI
            </h3>
       
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto omnis eius delectus natus quo quaerat unde rem totam culpa aperiam?</p>
       
          </div>
        </div></li>
        <li> <div class="media">
          <div class="media__image">
          
             <svg class="icon icon--primary">
               <use xlink:href="icons/sprite.svg#growth">
             </svg>
           
       
          </div>
          <div class="media__body">
            <h3 class="media__title">
              Dynamic Caching & More
            </h3>
       
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto omnis eius delectus natus quo quaerat unde rem totam culpa aperiam?</p>
       
          </div>
        </div></li>
        <li> <div class="media">
          <div class="media__image">
          
             <svg class="icon icon--primary">
               <use xlink:href="icons/sprite.svg#wordpress">
             </svg>
           
       
          </div>
          <div class="media__body">
            <h3 class="media__title">
              Easy And Manage Update
            </h3>
       
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto omnis eius delectus natus quo quaerat unde rem totam culpa aperiam?</p>
       
          </div>
        </div></li>
      </ul>
      
    </div>
  </section>