<section class="block">
    <header class="block__header">
      <h2>What Our Customer Are Saying</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum optio sit itaque rem veniam voluptates.</p>
    </header>
    <div class="container">
      <div class="card testimonial">
        <div class="grid grid--1x2">
          <div class="testimonial__image">
            <img src="./images/billa.jpg" alt="testimonial" />
            <span class="icon-container icon-container--accent">
              <svg class="icon icon--white icon--small">
                <use xlink:href="icons/sprite.svg#quotes"></use>
              </svg>
            </span>
          </div>
          <div>
            <blockquote class="quote">
              <p class="quote__text testimonial__quote">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sit quidem culpa maxime aspernatur ut sapiente laborum! Deserunt, id illum!
              </p>
            </blockquote>
          
            <footer >
              <div class="media testimonial__quote">
                <div class="media__image">
                
                   <svg class="icon icon--primary quote__line" >
                     <use xlink:href="icons/sprite.svg#line">
                   </svg>
                 
             
                </div>
                <div class="media__body">
                  <h3 class="media__title quote__author">
                    Kathirvan Pramasivam
                  </h3>
             
                  <p class="quote__organ">KP Company</p>
             
                </div>
              </div>
            </footer>
          
          </div>
        </div>
      </div>
    </div>
  </section>